# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/
dist/
build/
.env

# Node
node_modules/
dist/
.DS_Store

# Logs
*.log
*.pid

# MongoDB data
/data/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
